In [1]:
import pandas as pd
import numpy as np

In [2]:
print(pd.__version__)

2.2.2

In [3]:
df = pd.read_csv('https://raw.githubusercontent.com/alexeygrigorev/datasets/master/laptops.csv')
df.head()

,Laptop,Status,Brand,Model,CPU,RAM,Storage,Storage type,GPU,Screen,Touch,Final Price
0,ASUS ExpertBook B1 B1502CBA-EJ0436X Intel Core...,New,Asus,ExpertBook,Intel Core i5,8,512,SSD,NaN,15.6,No,1009.00
1,Alurin Go Start Intel Celeron N4020/8GB/256GB ...,New,Alurin,Go,Intel Celeron,8,256,SSD,NaN,15.6,No,299.00
2,ASUS ExpertBook B1 B1502CBA-EJ0424X Intel Core...,New,Asus,ExpertBook,Intel Core i3,8,256,SSD,NaN,15.6,No,789.00
3,MSI Katana GF66 12UC-082XES Intel Core i7-1270...,New,MSI,Katana,Intel Core i7,16,1000,SSD,RTX 3050,15.6,No,1199.00
4,HP 15S-FQ5085NS Intel Core i5-1235U/16GB/512GB...,New,HP,15S,Intel Core i5,16,512,SSD,NaN,15.6,No,669.01

In [4]:
df.shape

(2160, 12)

In [5]:
print(len(df['Brand'].unique()))

27

In [6]:
df.isna().sum()

Laptop             0
Status             0
Brand              0
Model              0
CPU                0
RAM                0
Storage            0
Storage type      42
GPU             1371
Screen             4
Touch              0
Final Price        0
dtype: int64

In [7]:
df.loc[(df['Brand']=='Dell')]['Final Price'].max()

np.float64(3936.0)

In [8]:
median_screen = df['Screen'].median()
mode_screen = df['Screen'].mode()
df['Screen'].fillna(value=mode_screen[0],inplace=True)
updated_median_screen = df['Screen'].median()
print("MODE : ",mode_screen[0])
print(median_screen,updated_median_screen)

MODE :  15.6
15.6 15.6

C:\Users\shiva\AppData\Local\Temp\ipykernel_17764\391553703.py:3: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Screen'].fillna(value=mode_screen[0],inplace=True)

In [9]:
x = df.loc[df['Brand'] == 'Innjoo'][['RAM','Storage', 'Screen']].to_numpy()

In [10]:
x

array([[  8. , 256. ,  15.6],
       [  8. , 512. ,  15.6],
       [  4. ,  64. ,  14.1],
       [  6. ,  64. ,  14.1],
       [  6. , 128. ,  14.1],
       [  6. , 128. ,  14.1]])

In [11]:
y = np.array([1100, 1300, 800, 900, 1000, 1100])

In [12]:
XTX = x.T.dot(x)
XTX

array([[2.52000e+02, 8.32000e+03, 5.59800e+02],
       [8.32000e+03, 3.68640e+05, 1.73952e+04],
       [5.59800e+02, 1.73952e+04, 1.28196e+03]])

In [13]:
XTX_inv = np.linalg.inv(XTX)

In [14]:
w = XTX_inv.dot(x.T).dot(y)

In [15]:
np.sum(w)

np.float64(91.2998806299555)